/* 
.input-container {
  position: relative;
  display: inline-block;
}

input[type="text"] {
  
  width: 100%; 
}

i {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right value to control the icon's position */
/* transform: translateY(-50%);
  pointer-events: none; /* Ensures that the icon doesn't interfere with user interactions */
/* } */
/* Style the container to position the input field and button */
.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This aligns items with space between them */
  width: 632px; /* Set the width to 632px */
  height: 44px; /* Set the height to 44px */
  padding: 12px; /* Add 12px padding */
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 20px 0px rgba(140, 151, 164, 0.2);
}

/* Style the input field */
.input-field {
  flex: 1;
  border: none;
  outline: none;
  background: rgba(248, 249, 251, 1);
  padding: 0; /* Reset the padding to 0, as padding is included in the container */
  width: 100%; /* Make the input field take up all available space */
  height: 100%; /* Make the input field take up all available space */
}

/* Style the submit button */
.submit-button {
  background: rgba(248, 249, 251, 1);
  color: white;
  border: none;
  padding: 12px; /* Add 12px padding to match the container */
  border-radius: 5px;
  cursor: pointer;
}
