/* .buttons {
  justify-content: space-between;
}
.container {
  box-shadow: 0px 6px 20px 0px rgba(140, 151, 164, 0.2);
  width: 656px;
  height: 100%;
  padding: 12px;
  margin-top: 12px;
  list-style: none;
  background-color: white;
} */
.buttons {
  border: none;
  margin-top: 12px;
  display: flex;
}
.container {
  box-shadow: 0px 6px 20px 0px rgba(140, 151, 164, 0.2);
  width: 656px;
  height: 100%;
  padding: 12px;
  margin: 12px;
  list-style: none;
  background-color: white;
}
.container_add {
  margin-bottom: 20px;
}
.comment_container {
  display: flex;
  margin: 12px;
}
.title {
  font-weight: 500;
  size: 14px;
}
.ml12 {
  margin-left: 12px;
}
.comment_para {
  font-weight: 300;
  color: #646464;
  size: 14px;
}
.reply_btn {
  border: none;
  color: #6590ff;
  size: 14px;
  font-weight: 500;
  margin: 0 0 6px 16px;
  background: transparent;
}
.delete_btn {
  border: none;
  color: #e33e38;
  size: 14px;
  font-weight: 500;
  margin: 0 0 6px 16px;
  background: transparent;
}
.circle {
  height: 4px;
  width: 4px;
  background-color: #646464;
  border-radius: 50%;
  display: inline-block;
  margin: 10px 0 0 16px;
}
